.modal {
  visibility: hidden;
  background: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  opacity: 0;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../images/closeicon.svg);
  opacity: 40%;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  padding: 0 12px;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn:hover {
  color: #fcf5e5;
  width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px;
  background-color: black;
  border: none;
  cursor: pointer;
  font-weight: 500;
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .modal__submit-btn {
    width: 100%;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 5px;
    right: 5px;
  }
  .modal {
    padding: 12px;
    gap: 24px;
  }
}
